body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #edeeeb, #ccb7bf);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    width: 80%; /* Adjusted the width */
    max-width: 500px;
    margin: 0 auto; /* Center the container */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: left;
    transition: transform 0.3s ease-in-out;
}


.form-container:hover {
    transform: scale(1.05);
}

h2 {
    color: #2d3436;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #636e72;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #ecf0f1;
    color: #2d3436;
}

.submit-btn {
    background-color: #27ae60;
    color: white;
    padding: 12px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
}

.submit-btn:hover {
    background-color: #219653;
}

p {
    margin-top: 20px;
    color: #636e72;
    font-size: 14px;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
